<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary of Evolutions</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <!--Вверх сайта-->

    <header class="header">
        <div class="main-container">
            <div class="navbar">
                <div class="logo">
                    <img src="/static/img/Logo-img.png" alt="logo" class="logo-photo">
                </div>
                <div class="navbar-menu">
                    <div class="review">
                        <a href="/templates/pages-auth/review-auth.html" class="review-link">
                            <h4 class="review-link-name navbar-name h4-text">Leave a review about our site!</h4>
                        </a>
                    </div>
                    <div class="authors">
                        <a href="/templates/pages-auth/authors-auth.html" class="authors-link">
                            <h4 class="authors-link-name navbar-name h4-text">The authors of the site</h4>
                        </a>
                    </div>
                    <div class="profile registration">
                        <div class="dropdown-auth">
                            <button class="dropbtn-auth site-text-main">Anon</button>
                            <div class="dropdown-auth-content">
                                <a href="#" class="history-link menu-link h5-text">History</a>
                                <a href="#" class="your-favourites-link menu-link h5-text">Your favourites</a>
                                <a href="#" class="log-out-link menu-link h5-text">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="site-info">
            <div class="site-header">
            <h1 class="site-header-name h1-text">Dictionary of Evolutions</h1>
            </div>
            <div class="site-text">
                <span class="site-text-main">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, saepe labore ea nulla ipsum iste ut placeat nemo impedit dolorem ullam sunt quidem quos dolores necessitatibus quisquam, soluta, nesciunt doloribus id doloremque! Cum cupiditate sequi asperiores optio error maiores voluptate.</span>
            </div>
        </div>
        <div class="form">
            <form action="" class="main-form">
                <input type="text" class="main-form-input h5-text" placeholder="Write text right there">
                <button class="main-form-button">
                    <img src="/static/img/search-icon.png" alt="search" class="input-photo">
                </button>
            </form>
        </div>
    </main>
    <footer class="footer">
        <div class="main-container">
            <div class="contacts">
                <div class="emails">
                    <div class="contacts-first-text">
                        <h5 class="contacts-first-text-name h5-text">Have any questions?   Write them on those e-mails:</h5>
                    </div>
                    <div class="emails-names">
                        <a href="" class="emails-first-link">
                            <span class="emails-first-link-name emails-link-name">qwertyui231@gmail.com</span>
                        </a>
                        <a href="" class="emails-second-link">
                            <span class="emails-second-link-name emails-link-name">ytfigh2324uijhihj@gmail.com</span>
                        </a>
                    </div>
                    <div class="contacts-second-text">
                        <h5 class="contacts-second-text-name h5-text">or in our social media channels:</h5>
                    </div>
                </div>
                <div class="social-media">
                    <div class="social-media-icons">
                        <div class="social-media-icon">
                            <img src="/static/img/Social media icons/tg-icon.svg" alt="telegram" class="social-media-icon-photo">
                        </div>
                        <div class="social-media-icon">
                            <img src="/static/img/Social media icons/whatsapp-icon.svg" alt="whatsapp" class="social-media-icon-photo">
                        </div>
                        <div class="social-media-icon">
                            <img src="/static/img/Social media icons/viber-icon.svg" alt="viber" class="social-media-icon-photo">
                        </div>
                        <div class="social-media-icon">
                            <img src="/static/img/Social media icons/vk-icon.svg" alt="VK" class="social-media-icon-photo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="copyright-info">
                    <img src="/static/img/copyright-icon.png" alt="copyright" class="copyright-photo">
                    <span class="copyright-text">2024 - Dictionary of Evolutions</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>